
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    padding-top: 5px;
    color: #ffffff;
}
table{
    border-collapse: collapse;
    border-width: 4px;
    border-color: blue;

    

}
th{
    font-size: 1000;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
   
    background-color: black;
    color: white;

}
td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1000;
    font-weight: 800;
    
    color: #ffffff;
}
td:hover{
color: rgb(253, 253, 25);
}
tr:hover{
    background-color:rgb(138, 28, 0);
}